In [54]:
import pandas as pd

In [55]:
dis = {"q":[1,2,3,4,5,6],"b":[2,3,4,5,6,7],"c":[3,4,5,6,7,8]}
d = pd.DataFrame(dis)
d

   q  b  c
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6
4  5  6  7
5  6  7  8

In [56]:
d.to_csv("Test.csv")
d.to_csv("Test_new.csv", index = False, header=[1,2,3])

In [57]:
csv_1 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day39\\customers-100.csv")
csv_1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [58]:
csv_2 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day39\\customers-100.csv", nrows = 3)
csv_2

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/

In [59]:
csv_3 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day39\\customers-100.csv", usecols=["Company","City"])
csv_3

                            Company               City
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

[100 rows x 2 columns]

In [60]:
csv_4 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day39\\customers-100.csv", skiprows=2)
csv_4

,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
0,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
1,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
2,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
3,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
4,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
93,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
94,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
95,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
96,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
97,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [61]:
csv_5 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day39\\customers-100.csv", index_col="Index")
csv_5

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Index,,,,,,,,,,,
1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...
96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

- use header= 2 to make 2nd row header

- names= ["something",..........] to change heading names

## if header is no given

```python
# 1st way
pd.read_csv("location...", header = None , prefix= "col")
```

# PANDAS FUNCTION

In [62]:
csv_7 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day39\\student.csv")
csv_7

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [63]:
csv_7.index

RangeIndex(start=0, stop=35, step=1)

In [64]:
csv_7.columns

Index(['id', 'name', 'class', 'mark', 'gender'], dtype='object')

In [65]:
csv_7.describe

<bound method NDFrame.describe of     id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female>

In [66]:
csv_7.head(2) # 5 by default

   id      name  class  mark  gender
0   1  John Deo   Four    75  female
1   2  Max Ruin  Three    85    male

In [67]:
csv_7.tail()

    id         name  class  mark  gender
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [68]:
csv_7[6:13]

    id         name  class  mark  gender
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female

In [69]:
csv_7.index.array

<NumpyExtensionArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
Length: 35, dtype: int64

In [70]:
csv_7.to_numpy()

array([[1, 'John Deo', 'Four', 75, 'female'],
       [2, 'Max Ruin', 'Three', 85, 'male'],
       [3, 'Arnold', 'Three', 55, 'male'],
       [4, 'Krish Star', 'Four', 60, 'female'],
       [5, 'John Mike', 'Four', 60, 'female'],
       [6, 'Alex John', 'Four', 55, 'male'],
       [7, 'My John Rob', 'Fifth', 78, 'male'],
       [8, 'Asruid', 'Five', 85, 'male'],
       [9, 'Tes Qry', 'Six', 78, 'male'],
       [10, 'Big John', 'Four', 55, 'female'],
       [11, 'Ronald', 'Six', 89, 'female'],
       [12, 'Recky', 'Six', 94, 'female'],
       [13, 'Kty', 'Seven', 88, 'female'],
       [14, 'Bigy', 'Seven', 88, 'female'],
       [15, 'Tade Row', 'Four', 88, 'male'],
       [16, 'Gimmy', 'Four', 88, 'male'],
       [17, 'Tumyu', 'Six', 54, 'male'],
       [18, 'Honny', 'Five', 75, 'male'],
       [19, 'Tinny', 'Nine', 18, 'male'],
       [20, 'Jackly', 'Nine', 65, 'female'],
       [21, 'Babby John', 'Four', 69, 'female'],
       [22, 'Reggid', 'Seven', 55, 'female'],
       [23, 'Herod', 'Eight', 79, 'male'],
       [24, 'Tiddy Now', 'Seven', 78, 'male'],
       [25, 'Giff Tow', 'Seven', 88, 'male'],
       [26, 'Crelea', 'Seven', 79, 'male'],
       [27, 'Big Nose', 'Three', 81, 'female'],
       [28, 'Rojj Base', 'Seven', 86, 'female'],
       [29, 'Tess Played', 'Seven', 55, 'male'],
       [30, 'Reppy Red', 'Six', 79, 'female'],
       [31, 'Marry Toeey', 'Four', 88, 'male'],
       [32, 'Binn Rott', 'Seven', 90, 'female'],
       [33, 'Kenn Rein', 'Six', 96, 'female'],
       [34, 'Gain Toe', 'Seven', 69, 'male'],
       [35, 'Rows Noump', 'Six', 88, 'female']], dtype=object)

In [71]:
import numpy as np
v = np.asarray(csv_7)
v

array([[1, 'John Deo', 'Four', 75, 'female'],
       [2, 'Max Ruin', 'Three', 85, 'male'],
       [3, 'Arnold', 'Three', 55, 'male'],
       [4, 'Krish Star', 'Four', 60, 'female'],
       [5, 'John Mike', 'Four', 60, 'female'],
       [6, 'Alex John', 'Four', 55, 'male'],
       [7, 'My John Rob', 'Fifth', 78, 'male'],
       [8, 'Asruid', 'Five', 85, 'male'],
       [9, 'Tes Qry', 'Six', 78, 'male'],
       [10, 'Big John', 'Four', 55, 'female'],
       [11, 'Ronald', 'Six', 89, 'female'],
       [12, 'Recky', 'Six', 94, 'female'],
       [13, 'Kty', 'Seven', 88, 'female'],
       [14, 'Bigy', 'Seven', 88, 'female'],
       [15, 'Tade Row', 'Four', 88, 'male'],
       [16, 'Gimmy', 'Four', 88, 'male'],
       [17, 'Tumyu', 'Six', 54, 'male'],
       [18, 'Honny', 'Five', 75, 'male'],
       [19, 'Tinny', 'Nine', 18, 'male'],
       [20, 'Jackly', 'Nine', 65, 'female'],
       [21, 'Babby John', 'Four', 69, 'female'],
       [22, 'Reggid', 'Seven', 55, 'female'],
       [23, 'Herod', 'Eight', 79, 'male'],
       [24, 'Tiddy Now', 'Seven', 78, 'male'],
       [25, 'Giff Tow', 'Seven', 88, 'male'],
       [26, 'Crelea', 'Seven', 79, 'male'],
       [27, 'Big Nose', 'Three', 81, 'female'],
       [28, 'Rojj Base', 'Seven', 86, 'female'],
       [29, 'Tess Played', 'Seven', 55, 'male'],
       [30, 'Reppy Red', 'Six', 79, 'female'],
       [31, 'Marry Toeey', 'Four', 88, 'male'],
       [32, 'Binn Rott', 'Seven', 90, 'female'],
       [33, 'Kenn Rein', 'Six', 96, 'female'],
       [34, 'Gain Toe', 'Seven', 69, 'male'],
       [35, 'Rows Noump', 'Six', 88, 'female']], dtype=object)

In [72]:
csv_7.sort_index(axis=0,ascending=False)

    id         name  class  mark  gender
34  35   Rows Noump    Six    88  female
33  34     Gain Toe  Seven    69    male
32  33    Kenn Rein    Six    96  female
31  32    Binn Rott  Seven    90  female
30  31  Marry Toeey   Four    88    male
29  30    Reppy Red    Six    79  female
28  29  Tess Played  Seven    55    male
27  28    Rojj Base  Seven    86  female
26  27     Big Nose  Three    81  female
25  26       Crelea  Seven    79    male
24  25     Giff Tow  Seven    88    male
23  24    Tiddy Now  Seven    78    male
22  23        Herod  Eight    79    male
21  22       Reggid  Seven    55  female
20  21   Babby John   Four    69  female
19  20       Jackly   Nine    65  female
18  19        Tinny   Nine    18    male
17  18        Honny   Five    75    male
16  17        Tumyu    Six    54    male
15  16        Gimmy   Four    88    male
14  15     Tade Row   Four    88    male
13  14         Bigy  Seven    88  female
12  13          Kty  Seven    88  female
11  12        Recky    Six    94  female
10  11       Ronald    Six    89  female
9   10     Big John   Four    55  female
8    9      Tes Qry    Six    78    male
7    8       Asruid   Five    85    male
6    7  My John Rob  Fifth    78    male
5    6    Alex John   Four    55    male
4    5    John Mike   Four    60  female
3    4   Krish Star   Four    60  female
2    3       Arnold  Three    55    male
1    2     Max Ruin  Three    85    male
0    1     John Deo   Four    75  female

In [73]:
# csv_7["name"][0]= "anurag"
csv_7.loc[0,"name"]= "python"
csv_7

    id         name  class  mark  gender
0    1       python   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [74]:
csv_7.loc[[2,3],:] #name

   id        name  class  mark  gender
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female

In [75]:
csv_7.iloc[0,4]

'female'

In [76]:
#csv_7.drop("class",axis=1)
csv_7

    id         name  class  mark  gender
0    1       python   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female