In [1]:
import pandas as pd

# Handling missing Data

In [17]:
csv_1 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day41\\student.csv")
csv_1
var2=csv_1
var3=csv_1

In [3]:
csv_1.dropna(axis=0)

    id         name  class  mark  gender
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [4]:
# csv_1.dropna(how="all") #remove if all NaN

In [5]:
csv_1.dropna(subset=["mark"])

    id         name  class  mark  gender
0    1     John Deo   Four  75.0     NaN
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    8       Asruid    NaN  85.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
16  17          NaN    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [6]:
#inplace
csv_1.dropna(inplace=True)
csv_1

    id         name  class  mark  gender
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [7]:
csv_1.dropna(thresh=2) #jisme double null value ho wo delte hoga

    id         name  class  mark  gender
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [8]:
# csv_1.fillna({"name":"python","class":"zero","mark":0,"gender":"NaN"})
#forwrd filling
csv_1.ffill()
csv_1.fillna(method="bfill")

C:\Users\91766\AppData\Local\Temp\ipykernel_13812\3119565885.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_1.fillna(method="bfill")

    id         name  class  mark  gender
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [9]:
csv_1 = pd.read_csv("C:\\Users\\91766\\Desktop\\python\\draft\\day41\\student.csv")
csv_1.fillna(12,inplace=True)
csv_1

    id         name  class  mark  gender
0    1     John Deo   Four  75.0      12
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four  12.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    8       Asruid     12  85.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
16  17           12    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [10]:
var = csv_1
var.fillna("python",limit=2)

    id         name  class  mark  gender
0    1     John Deo   Four  75.0      12
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four  12.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    8       Asruid     12  85.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
16  17           12    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

# Replace

In [11]:
var1 = csv_1
var1

    id         name  class  mark  gender
0    1     John Deo   Four  75.0      12
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four  12.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    8       Asruid     12  85.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
16  17           12    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [12]:
var1.replace(to_replace=12,value="python")

        id         name   class    mark  gender
0        1     John Deo    Four    75.0  python
1        2         Ruin   Three    85.0    male
2        3       Arnold   Three    55.0    male
3        4   Krish Star    Four    60.0  female
4        5    John Mike    Four  python  female
5        6    Alex John    Four    55.0    male
6        7  My John Rob   Fifth    78.0    male
7        8       Asruid  python    85.0    male
8        9      Tes Qry     Six    78.0    male
9       10     Big John    Four    55.0  female
10      11       Ronald     Six    89.0  female
11  python        Recky     Six    94.0  female
12      13          Kty   Seven    88.0  female
13      14         Bigy   Seven    88.0  female
14      15     Tade Row    Four    88.0    male
15      16        Gimmy    Four    88.0    male
16      17       python     Six    54.0    male
17      18        Honny    Five    75.0    male
18      19        Tinny    Nine    18.0    male
19      20       Jackly    Nine    65.0  female
20      21   Babby John    Four    69.0  female
21      22       Reggid   Seven    55.0  female
22      23        Herod   Eight    79.0    male
23      24    Tiddy Now   Seven    78.0    male
24      25     Giff Tow   Seven    88.0    male
25      26       Crelea   Seven    79.0    male
26      27     Big Nose   Three    81.0  female
27      28    Rojj Base   Seven    86.0  female
28      29  Tess Played   Seven    55.0    male
29      30    Reppy Red     Six    79.0  female
30      31  Marry Toeey    Four    88.0    male
31      32    Binn Rott   Seven    90.0  female
32      33    Kenn Rein     Six    96.0  female
33      34     Gain Toe   Seven    69.0    male
34      35   Rows Noump     Six    88.0  female

In [13]:
var1.replace([1,2,3,4],22)

    id         name  class  mark  gender
0   22     John Deo   Four  75.0      12
1   22         Ruin  Three  85.0    male
2   22       Arnold  Three  55.0    male
3   22   Krish Star   Four  60.0  female
4    5    John Mike   Four  12.0  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    8       Asruid     12  85.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
16  17           12    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [14]:
var1.replace("[A-Za-z]","py",regex=True)

    id                   name       class  mark        gender
0    1        pypypypy pypypy    pypypypy  75.0            12
1    2               pypypypy  pypypypypy  85.0      pypypypy
2    3           pypypypypypy  pypypypypy  55.0      pypypypy
3    4    pypypypypy pypypypy    pypypypy  60.0  pypypypypypy
4    5      pypypypy pypypypy    pypypypy  12.0  pypypypypypy
5    6      pypypypy pypypypy    pypypypy  55.0      pypypypy
6    7   pypy pypypypy pypypy  pypypypypy  78.0      pypypypy
7    8           pypypypypypy          12  85.0      pypypypy
8    9          pypypy pypypy      pypypy  78.0      pypypypy
9   10        pypypy pypypypy    pypypypy  55.0  pypypypypypy
10  11           pypypypypypy      pypypy  89.0  pypypypypypy
11  12             pypypypypy      pypypy  94.0  pypypypypypy
12  13                 pypypy  pypypypypy  88.0  pypypypypypy
13  14               pypypypy  pypypypypy  88.0  pypypypypypy
14  15        pypypypy pypypy    pypypypy  88.0      pypypypy
15  16             pypypypypy    pypypypy  88.0      pypypypy
16  17                     12      pypypy  54.0      pypypypy
17  18             pypypypypy    pypypypy  75.0      pypypypy
18  19             pypypypypy    pypypypy  18.0      pypypypy
19  20           pypypypypypy    pypypypy  65.0  pypypypypypy
20  21    pypypypypy pypypypy    pypypypy  69.0  pypypypypypy
21  22           pypypypypypy  pypypypypy  55.0  pypypypypypy
22  23             pypypypypy  pypypypypy  79.0      pypypypy
23  24      pypypypypy pypypy  pypypypypy  78.0      pypypypy
24  25        pypypypy pypypy  pypypypypy  88.0      pypypypy
25  26           pypypypypypy  pypypypypy  79.0      pypypypy
26  27        pypypy pypypypy  pypypypypy  81.0  pypypypypypy
27  28      pypypypy pypypypy  pypypypypy  86.0  pypypypypypy
28  29  pypypypy pypypypypypy  pypypypypy  55.0      pypypypy
29  30      pypypypypy pypypy      pypypy  79.0  pypypypypypy
30  31  pypypypypy pypypypypy    pypypypy  88.0      pypypypy
31  32      pypypypy pypypypy  pypypypypy  90.0  pypypypypypy
32  33      pypypypy pypypypy      pypypy  96.0  pypypypypypy
33  34        pypypypy pypypy  pypypypypy  69.0      pypypypy
34  35    pypypypy pypypypypy      pypypy  88.0  pypypypypypy

## interpolate

In [20]:

var2

    id         name  class  mark  gender
0    1     John Deo   Four  75.0     NaN
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four   NaN  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    8       Asruid    NaN  85.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
16  17          NaN    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female

In [ ]:
var2.interpolate(meathod='linear') #works only for numbers not on string

    id         name  class  mark  gender
0    1     John Deo   Four  75.0     NaN
1    2         Ruin  Three  85.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four   NaN  female
5    6    Alex John   Four  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    8       Asruid    NaN  85.0    male
8    9      Tes Qry    Six  78.0    male
9   10     Big John   Four  55.0  female
10  11       Ronald    Six  89.0  female
11  12        Recky    Six  94.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14  15     Tade Row   Four  88.0    male
15  16        Gimmy   Four  88.0    male
16  17          NaN    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  21   Babby John   Four  69.0  female
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  24    Tiddy Now  Seven  78.0    male
24  25     Giff Tow  Seven  88.0    male
25  26       Crelea  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    male
29  30    Reppy Red    Six  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35   Rows Noump    Six  88.0  female